.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Tabela */

.tabela {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
  margin-top: 10px ;
}

#tabela td, #tabela tr {
  border: 3px solid #ddd;
  padding: 8px;
  

}

tr ,td {
  border: 1px solid white;
}
#tabela , th{
  border: 1px solid white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #535c68;
  color: white;
}

/*buttom */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #3e8e41;
  color: white;
}

/*input*/

.input{
  margin-right: 5px;
}


/* alerta*/

.error-input{
  color: #e74c3c;
}